infra/auth/secret.yml
infra/gateway/secret.yml
infra/converter/app-secret.yml

gateway/node_modules
gateway/.env

auth/.env
auth/node_modules/

converter/.env
converter/node_modules/
converter/files-processing/*.mp4
converter/files-processing/*.mp3

notification/.env
notification/node_modules/